.description__block {
  padding: 10px;
}
.description__block img {
  width: 200px;
  border-radius: 50%;
}
.profile__background img {
  width: 100%;
  height: 300px;
  position: relative;
  border-radius: 20px;
}
